doctype html
html
    head
        title Group List
        link(rel='stylesheet', href='./CSS/main.css')
        link(rel='stylesheet', href='./CSS/groups.css')
    body

        include navbar

        h1#page-title Group List
        .cards
            each groupKey, index in groupKeys || []
                .group-card(name=`${groupKey}`)
                    h2 #{groupKey}
                    p Location Count: #{groupValues[index].length}
                    .exp-btn-container
                        button(type="button", id=`${groupKey}`, onclick=`expandGroup('${groupKey}', 'none')`).sidebar-action-button
                            img.icon(src="/icons/expand-icon.svg")


        script.
            function expandGroup(groupName) {
                fetch(`/expandGroup/${groupName}`).then(() => {
                    window.location.href = `/expandGroup/${groupName}`;
                });
            }