// views/groupList.pug
doctype html
html
    head
        title Group List
    body
        h1 Group List

        each groupKey, index in groupKeys || []

            .group-card(name=`${groupKey}`)
                h2 #{groupKey}
                p Location Count: #{groupValues[index].length}
                button(type="button"
                    id = `${groupKey}`
                    onclick=`expandGroup(\'${groupKey}\')`) EXP

        // Add styling if needed
        style.
            .group-card {
                border: 1px solid #ddd;
                padding: 10px;
                margin: 10px;
                width: 200px;
                text-align: center;
            }

        script.
            function expandGroup(groupName) {
                fetch(`/expandGroup/${groupName}`).then(() => {
                    window.location.href = `/expandGroup/${groupName}`;
                });
            }