mixin sidebarLocationFactory(group, groupName)
    ul.sidebar-group
        li.sidebar-group-title= groupName
            button(type="button", id=`${groupName}`, onclick=`expandGroup('${groupName}')`) EXP
        each location in group || {}
            li.sidebar-location(locationId=`${location.id}`, title=`${location.locationTitle}`, groupName=`${groupName}`)
                span.sidebar-location-title= location.locationTitle
                button.sidebar-delete-button(type="button", hx-post="/removeLocation", hx-target="#sidebar", hx-trigger="click", hx-swap="outerHTML", hx-vars=`{"locationId": "${location.id}", "title": "${location.locationTitle}", "groupName": "${groupName}"`) DEL

link(rel='stylesheet', href='./CSS/sidebar.css')

ul#sidebar
    each group, groupName in groups || {}
        +sidebarLocationFactory(group, groupName)
